<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953226139203-42a4besgib4jkpfget57f1r1kbdsr6v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953226139203-42a4besgib4jkpfget57f1r1kbdsr6v8</string>
	<key>API_KEY</key>
	<string>AIzaSyBP9nRE_alw6S_9ok6I05FB1wKA7GdDvf0</string>
	<key>GCM_SENDER_ID</key>
	<string>953226139203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getUser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>get-user-dc086</string>
	<key>STORAGE_BUCKET</key>
	<string>get-user-dc086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953226139203:ios:19fe6c273cd11c5d48e6f6</string>
</dict>
</plist>